h1{
    text-align: center;
    background-color: lightblue;
}
h2{
    text-decoration: underline;

}
img{
    width:500px;
    height:300px;
}
h3{
    font-size:20px;
}
*{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    text-decoration: underline;
}