    h2{
      color:red;
    }
    h1{
      text-align: center;
      color:red;
      font-style: oblique;
    }
    .skill{
      text-align: center;
      color: red;
    }
    h2{
      text-align: center;
    }
    
    img{
      text-align: justify;
      margin: 20px;
    }
    h3{
        margin: 20px;
    }